# ===============================
# DJANGO
# ===============================
ENVIRONMENT=development
DEBUG=True
SECRET_KEY=change-me

# ===============================
# DATABASE
# ===============================
POSTGRES_DB=financial_dashboard
POSTGRES_USER=joao
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=db
POSTGRES_PORT=5432

# ===============================
# CORS
# ===============================
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

# ===============================
# FRONTEND
# ===============================
VITE_API_URL=http://localhost:8000/api
VITE_API_TIMEOUT=30000
VITE_ENVIRONMENT=development
VITE_GOOGLE_AI_KEY=